[2019-01-27 11:21] jogboms opened #2 "Equatable doesn't support const classes"
**Is your feature request related to a problem? Please describe.**
I loved the idea of not having to keep track of overriding ==operator and hashCode just for equality checks. Thanks for the library, but i noticed i can't use the current implementation with `const` classes which isn't proper for performance reasons.

**Describe the solution you'd like**
Making Equatable a `const` class itself so t

[2019-01-27 16:02] felangel commented on #2
@jogboms thanks for this! I’ll review the PR shortly.

[2019-02-05 06:21] ethanblake4 opened #4 "Add EquatableMixin"
The current most major issue with this package is that you have to `extend` Equatable, so `Equatable` objects cannot have superclasses. This issue can be easily solved with the use of Dart mixins, at the cost of a \*slightly\* more verbose API. (I'd submit this as a PR but don't have time to write tests).

`equatable_mixin.dart`:
[code]

Usage example:
[code]

The one downside of this approach is

[2019-02-05 06:49] felangel commented on #4
@ethanblake4 Thanks for the suggestion 👍

I'll mess around with your implementation a bit and should hopefully be able to incorporate it into the package sometime later this week

[2019-02-16 20:06] felangel commented on #4
@ethanblake4 I'm unable to use `super` within the `EquatableMixin` implementation:

[code]

How did you get around this? 🤔

[2019-02-17 05:36] ethanblake4 commented on #4
Yeah, I see now that my idea doesn't really work. I played around for a while and came up with this, which is definitely harder to understand, but not much more verbose (and still just as flexible and useful).

`equatable_mixin.dart`:
[code]

Usage example:
[code]

This will also look better once [Spread Collections](https://github.com/dart-lang/language/issues/47) are implemented:

[code]

[2019-02-21 02:15] felangel commented on #4
#5

[2019-02-21 02:20] felangel commented on #4
Equatable `v0.2.0` now supports `EquatableMixinBase` and `EquatableMixin`

[2019-02-21 02:20] #4 closed

[2019-02-25 11:13] AlexanderArendar opened #6 "Typo in utils source code"
You have following code in utils:
` if (list1[i] is List && list1[i] is List) {` which I think is a typo.
Could you check?

[2019-02-25 12:41] felangel commented on #6
Thanks, that’s definitely a typo!

[2019-02-25 12:58] felangel commented on #6
Fixed in #7. Thanks for catching this! 💯

[2019-02-25 12:58] #6 closed

[2019-02-26 05:35] georgepapas opened #8 "Different hashCodes produced for classes with List properties"
**Describe the bug**
When a class extends `Equatable` and that class has a list property, two different instances, with the exact same properties, produce different hashCode values.

**To Reproduce**
[code]

**Expected behavior**
expected the same hashCode to be produced

**Version**
0.2.1

[2019-02-26 05:54] felangel commented on #8
@georgepapas thanks for reporting this! I'm pushing a fix for it now in #9  👍

[2019-02-26 05:57] felangel commented on #8
@georgepapas this should now be fixed in equatable [v0.2.2](https://pub.dartlang.org/packages/equatable). Thanks again for catching and reporting this! 💯

[2019-02-26 05:57] #8 closed

[2019-02-26 22:24] georgepapas commented on #8
Thanks for that, that was quick!, I'll take a look.  Just one thing about the change, I ended up using something like this locally as a temporary workaround

[code]

Does the fix in the commit introduce potential for stack overflow error if you have a list with items that reference the list?

Cheers

[2019-02-26 23:31] felangel commented on #8
@georgepapas thanks! Hmm can you provide an example? 🤔

[2019-02-28 10:55] georgepapas commented on #8
Hey @felangel .  Sorry for the late reply... Try this...

[code]

[2019-03-01 21:16] Gorniv opened #10 "always true for fromJson"
i use [json_to_dart](https://javiercbk.github.io/json_to_dart/) for work with json.

[code]

How to fix the comparison when working with json?

[2019-03-02 19:37] Gorniv commented on #10
replace
[code]
to
[code]
https://github.com/felangel/equatable/pull/11

[2019-03-02 19:37] #10 closed

[2019-03-22 10:43] basketball-ico opened #12 "How to use with abstract class with fields?"
Hello
If i have this, how to use Equatable, i don't know :(
Thanks.
[code]

[2019-03-22 15:18] pedromassango opened #13 "Should we always call super([...])?"
I just saw the code sample provided at README file:

[code]

I want to know if we should always call the super function providing all my properties or just extends with Equatable and we are ready to go?!

[2019-03-22 17:08] felangel commented on #13
Hey @pedromassango 👋

Yes, you should always pass the properties to the super class when using Equatable. Great question! 👍

[2019-03-22 17:08] #13 closed

[2019-03-22 17:12] felangel commented on #12
Hey @basketball-ico you can use the `EquatableMixin` for this use case.

[code]

[2019-03-22 17:12] #12 closed

[2019-03-22 18:39] pedromassango commented on #13
Thank you.

[2019-05-18 15:15] schatekar opened #14 "Documentation refers to an old version"
The readme file uses version `0.1.0` which is quite old and stumped me as it did not include the mixins. Update the docs to refer to the latest version.

[2019-05-18 19:42] schatekar opened #16 "Equality with a modified copy of the same object does not work"
I am using this package mainly for flutter bloc.

I have a situation where I need to yield the same state but with a field on the state modified. This was failing to trigger the state transition which I traced it down to how this package determines equality.

I have written a `deepCopy` method that utilises existing constructors on states to create a new copy of the states. I then modify the field

[2019-05-18 22:59] felangel commented on #16
@schatekar can you please provide a simple example app which illustrates the issue you were running into with the bloc library? It would be really useful for me to get more context. Thanks! 👍

[2019-05-19 03:10] felangel commented on #14
updated in #15 and published in v0.2.4

[2019-05-19 03:10] #14 closed

[2019-05-19 16:54] schatekar commented on #16
@felangel I spent the whole day today to refactor my code as I was not happy with what I was doing.

My main issue was that instead of yielding a new instance of the state when the new state of of the same type as the old state, I was just modifying the old state and yielding the modified instance. But since the `Equatable` had cached the props during the creation, my modification, later on, did n

[2019-05-19 19:01] felangel commented on #16
@schatekar thanks for the follow up! Yeah exactly, you should always return a new state instance instead of mutating the existing state 👍

Closing for now and thanks for all of your feedback, I really appreciate it!

[2019-05-19 19:01] #16 closed

[2019-05-24 07:33] phamnhuvu-dev opened #17 "The class has the collection variable is not the "List" object."
**Describe the bug**
If the class has the collection variable is not the "List" object. Comparing is always return true.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
`assert(e1 != e2) //return true`

**Problem**
https://github.com/felangel/equatable/blob/master/lib/src/equatable_utils.dart#L18-L24

**Solution**
Compare between 2 collections(List, Map, Set, v.v…)

[2019-05-24 19:55] felangel commented on #17
@phamnhuvu-dev in your example I noticed you aren't passing the properties to the Equatable superclass.

[code]

[2019-05-24 20:18] #17 closed

[2019-05-27 13:53] dustin-graham opened #19 "updated List equality produces false negative"
**Describe the bug**
The new list equality check introduces false negatives in my tests when comparing identical lists with different runtime types. In consequence of other business logic in my code, I end up with a `GrowableList` in one side of the equality and a `CopyOnWriteList` on the other. Contents are identical but the runtime check fails.

**To Reproduce**
In my test I generate dummy data

[2019-05-27 16:31] felangel commented on #19
Hi @dustin-graham 👋
Thanks for opening an issue!

I'll try to address the issue in the next few days. Alternatively, if you want/have the time you are more than welcome to open a PR 👍

[2019-05-28 16:20] dustin-graham commented on #19
@felangel thanks for the reply. I'd be happy to contribute. I'd like to be sure I understand the motivations for this change so that I don't cause someone else an unexpected change. Could we safely just remove the runtimeType check?

[2019-05-28 20:22] jorgecoca commented on #19
I think the library is working as expected. It is our requirement that, in order to assert that two objects are equal, their runtimes must be equal as well.
Otherwise, we might end up in situations where `Person(name: 'Jorge')` and `Duck(name: 'Jorge')` might be the same object.
If runtime is not necessary for your equality requirements, you can always implement manually `==` and `hashCode` to hav

[2019-05-28 22:50] dustin-graham commented on #19
@jorgecoca I agree for the most part. However, in this spot, we're comparing two lists as given by the function signature. This runtime type check is asserting that the two lists are of the same type, not whether their contents are equal.

https://github.com/felangel/equatable/blob/f8f9b32259742be0f772bf958d919c354ea71792/lib/src/equatable_utils.dart#L38

[2019-05-29 05:05] felangel commented on #19
@dustin-graham I agree with @jorgecoca. I would actually consider the fact that this worked in the previous release a bug. If the `runtimeTypes` are different then I don't think we can consider the two objects equal because this would introduce many other bugs like @jorgecoca mentioned earlier.

[2019-05-29 07:12] dustin-graham commented on #19
@felangel @jorgecoca I put together a small sample to illustrate this issue

https://github.com/dustin-graham/dart_equality_sample

I'll inline the relevant code here:
[code]
I made a PR that fixes the issue and keeps all the runtime type checking.
https://github.com/felangel/equatable/pull/20

The line that checks if the units are collections is the correct special-case runtime type check for col

[2019-05-30 15:06] algodave commented on #19
@felangel I think the changes added between `0.2.4` and `0.2.5` are relevant, I think they deserve crafting the `0.3.0` (btw: Releases here on GitHub are stuck on `0.2.3`)

[2019-05-30 16:23] felangel commented on #19
@algodave what do you mean they deserve crafting `0.3.0`? We're following semantic versioning and this was a bug fix in my opinion without a breaking API change. Can you please elaborate?

Also, thanks for pointing out the lack of 0.2.4 and 0.2.5 releases! I have updated the releases now 👍

[2019-05-30 17:52] algodave commented on #19
@felangel Deciding whether 2 lists having the same elements but a different `runtimeType` should be equal or not could be also considered a design decision rather than a bug 🙂 - up to you of course!

In my case this change was "breaking" because all my Bloc tests are failing with `0.2.5`. They use the following pattern:

[code]

and the error I get is that the expected list of states is not equal

[2019-05-31 01:32] felangel commented on #19
@algodave I don't believe this change should have broken your tests. Are you able to share a sample that worked with equatable v0.2.4 and breaks with v0.2.5?

[2019-05-31 14:54] algodave commented on #19
@felangel Thank you for answering, it helped me to look better at my tests, and the problem was there!

Some of my states hold a `List<MyModel>` prop; in tests, I defined `MyModelMock extends Mock implements MyModel` using `mockito`.
Lists in expected states were instantiated as `List<MyModelMock>` which caused the equality check fail. I changed them to `List<MyModel>` and everything works fine.

[2019-05-31 21:29] felangel commented on #19
This is addressed in #20 and included in equatable `v0.2.6`. Thanks @dustin-graham!

[2019-05-31 21:29] #19 closed

[2019-06-17 02:40] raindy29 opened #21 "How do you change the value of a state.posts[index].fieldname"
I can successfully execute,but But can't synchronize key/value
state.posts[0].props[8] = 'abcd';

[2019-06-17 02:43] felangel commented on #21
Hi @raindy29 👋
Thanks for opening an issue!

All classes that extends Equatable are immutable so you cannot change their props.
Why are you trying to modify the props?

[2019-06-17 02:51] raindy29 commented on #21
I use bloc and equatable to generate a listview widget, I want to dynamically change the item value, but I can't find any  method.

[2019-06-17 02:53] felangel commented on #21
You can’t change the item value because bloc state is immutable. You have to yield a new state every time instead of trying to modify the existing state. Please refer to the [bloc docs](https://felangel.github.io/bloc/#/coreconcepts) for more details.

[2019-06-17 03:15] raindy29 commented on #21
Thank you for your reply.
I have tried removeat/add to complete the row change, but there is no easy way to update the key/value

[2019-06-17 03:18] felangel commented on #21
Can you please provide a link to your application? It will be much easier to help if I can see your implementation.

[2019-06-19 04:12] raindy29 commented on #21
Thanks for your tips, problem has solved

bloc code
        final List<orde> newposts =
        List<orde>.from(listState.posts).map((orde item) {
          return item.id == event.id ? item.copyWith(orde_type: event.orde_type) : item;
        }).toList();

model code
  orde copyWith({
    String orde_type,
  }) {
    return orde(
      orde_type: orde_type ?? this.orde_type,
.....

[2019-06-19 04:13] #21 closed

[2019-06-20 07:06] liugangnhm opened #22 "work with json not perfect"
**Describe the bug**

code is document

**To Reproduce**
Steps to reproduce the behavior:

total test code is blow

[code]

**Expected behavior**

equatable properties should acordding the properties passed by constructor

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
latest

**Additional context**
Add any other context about the problem here.

[2019-06-23 17:52] felangel commented on #22
Hi @liugangnhm 👋
Thanks for opening an issue!

Regarding your question, the reason you're experiencing this is because classes that extend `Equatable` must be immutable. Refactoring the code to the following behaves as expected.

[code]

Hope that helps 👍

[2019-06-23 17:52] #22 closed

[2019-06-27 15:12] liugangnhm commented on #22
@felangel thanks!very helpful!

[2019-07-05 20:57] ThinkDigitalSoftware opened #23 "Feature Request!!! Add Support for object diffs"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when debugging and I think an object should be equal to another and it's not.

**Describe the solution you'd like**
I'd like to say
[code]

[2019-07-05 21:18] felangel commented on #23
Hey @ThinkDigitalSoftware 👋
Thanks for the feature request!

Can you provide an example of what the diff would look like? Thanks!

[2019-07-06 03:11] ThinkDigitalSoftware commented on #23
Hey.
I would guess that it would be something like... of course wildly open for suggestions.
[code]
[code]

[2019-07-07 12:09] phamnhuvu-dev commented on #23
@ThinkDigitalSoftware What type of obj1 and obj2?
If you want to compare between collection objects as List, Map,..etc, you can use the following way:

**Assume obj1 and obj2 are Map.**
[code]

[2019-07-08 04:58] AnEnigmaticBug opened #24 "Allow const constructors"
I would like to use Equatable for my model classes. But if I use it, I can't make them `const`. Since I use them in my UI widgets, I'll be forced to make them non-`const` too. Which is something I would like to avoid.

If you can somehow solve this issue, IMHO it would be a useful addition to this wonderful package.

This was already raised in #2 but that issue was closed by its author.

[2019-07-08 18:06] ThinkDigitalSoftware commented on #23
@phamnhuvu-dev it would be a custom class that extends equatable. From what I know, your methods return a boolean value. This is going to have a Set.difference like functionality

[2019-07-12 20:31] basketball-ico opened #25 "Add @immutable annotation to Equatable class"
**Is your feature request related to a problem? Please describe.**

At the moment Equatable only work for immutable classes, but you can extends Equatable in a classes that not are immutable

https://github.com/felangel/equatable/issues/21
https://github.com/felangel/equatable/issues/22

**Describe the solution you'd like**
You can add the @immutable annotation, and now you get analysis warning.

[2019-07-13 06:07] felangel commented on #25
Great idea 💯

I'll make the change shortly 👍

[2019-07-13 06:08] felangel commented on #24
Hi @AnEnigmaticBug 👋
Thanks for opening an issue!

I'll try to spend some time this weekend investigating this 👍

[2019-07-15 05:05] felangel commented on #25
Published in v0.3.0

[2019-07-15 05:05] #25 closed

[2019-07-25 00:54] dmh2000 commented on #25
does the class being extended from equatable really need to be fully  immutable, or is it only the fields that are used in super([props]) as the comparators  that need to be final? in the second case, the @immutable  annotation causes a warning that is not be needed. if indeed all fields in the class must be immutable then the annotation is right. (I have a class with a few properties but only a c

[2019-07-25 02:12] felangel commented on #24
Closing this as I don't believe it's possible since props must be injected and cannot be const.

[2019-07-25 02:12] #24 closed

[2019-07-25 02:14] felangel commented on #25
@dmh2000 could you provide a bit more info regarding why you only use a subset of the object's properties for equality comparison?

[2019-07-25 04:52] dmh2000 commented on #25
@felangel

this is kind of confusing but I hope this explanation is clear.

I am using flutter_bloc and the bloc has a list of objects (that extend equatable)  in it. those objects  are fetched one-by-one  when the bloc is initialized. but one field in each object can't be set until all the objects are fetched because it depends on the content of the other objects. Its just an int and it isn't nee

[2019-07-28 23:27] GiancarloCode opened #27 "Equatable should override toString and return a String with the name of each property and value"
**Is your feature request related to a problem? Please describe.**

If you have a `Credential` class:

[code]
When you create a credential and print:
[code]
The output is:
[code]
In most cases you want to show the name of class, the property name and the value of each property, so you need to override `toString()` manually:

[code]

And now the output is:
[code]

**Describe the solution you'd like

[2019-08-04 19:29] felangel commented on #27
@GiancarloCode thanks for the feature request!

Based on our discussion on gitter, I am going to update `toString` to default to `runtimeType` because passing a map increases the complexity and is also tangential to the focus of the package.

[2019-08-04 19:35] felangel commented on #27
Published in v0.4.0 of equatable 🎉

[2019-08-04 19:35] #27 closed

[2019-08-06 13:02] biklas7 commented on #25
@felangel What about if we want to Mock a class that extends Equatable? I get warnings in almost all my tests now.

[2019-08-08 03:21] felangel commented on #25
Hi @biklas7 👋
Can you please provide an example of a case when you'd need to mock a class that extends Equatable? I'm happy to revert this change if it's causing more harm than good but ideally classes that extend Equatable should be simple models which aren't typically mocked. Thanks 👍

[2019-08-08 09:28] biklas7 commented on #25
Hello, @felangel thanks for the reply. Here's my simple example:

I have the `User` class which extends `equatable`. It's a simple class with fields like id, name... Then I have a `LoginBloc` to handle the form validation and login logic.

For that bloc I have this test:

[code]

I'm using the mocked `User` to mock the response to the login future in my repository.

I'm pretty new to Flutter tests

[2019-08-08 09:36] biklas7 commented on #25
@felangel let me just add this to my comment. Maybe it's not you that needs to revert this change, maybe it's the `mockito` package that needs to be updated.

Please refer to this [issue](https://github.com/dart-lang/mockito/issues/200) on the `mockito` package.

[2019-08-10 22:44] felangel commented on #25
@biklas7 that's great! I think the idea solution would be for `mockito` to address this so it's good to hear that it's in the works 👍

[2019-08-25 17:32] jifalops opened #31 "Add a const constructor and make props @protected."
**Is your feature request related to a problem? Please describe.**
I would like to use Equatable with my data classes that have const constructors.

**Describe the solution you'd like**
Add a const constructor option to `Equatable` such as

[code]
I started making a PR for this but it also seems like the Equatable class should mixin EquatableMixin (after accepting #30) to eliminate duplicated code

[2019-08-26 00:23] jifalops commented on #31
After messing around with this for a bit I kind of hit a wall. See https://github.com/dart-lang/language/issues/544

[2019-08-26 09:14] felangel commented on #31
Hi @jifalops 👋
Thanks for opening an issue!

I also tried supporting this request in https://github.com/felangel/equatable/issues/24 but as you mentioned I don't think it is possible.

Closing for now but I'm open to ideas/suggestions

[2019-08-26 09:14] #31 closed

[2019-08-26 09:43] rrousselGit commented on #31
This is possible if we override the `props` getter:

[code]

[2019-10-03 09:58] daniel-v commented on #23
This feature can be misleading. Equatable can only differentiate between objects based on the props you pass to it (+ staticly available info). Therefore, the diff can only state what was the prop based on which Equatable would consider 2 objects unequal.

Since `props` getter is now public, I can image this to be a separate "utility function" that ships with provider but I would not make it part

[2019-10-03 10:11] daniel-v opened #35 "Proposal for introducing breaking changes in the future"
With the release of 0.6.0 and the introduction of `props` getter, we had to scramble to update the codebases we are working on across multiple projects.

These projects are in flux, changing rapidly, following 3rd party changes quick, therefore we usually don't version lock our dependencies, only around the first release. Equatable is used extensively in all of the projects. The circumstances were

[2019-10-03 15:04] ThinkDigitalSoftware commented on #23
Yes, definitely for debugging. And yes, since it's a getter now, it wont be as easy

[2019-10-03 16:53] felangel commented on #35
Hi @daniel-v 👋
Thanks for opening an issue!

I'm very sorry for the breaking change without warning/deprecation. I will be sure to add deprecation warnings when possible moving forward. The reason for not doing it this time is because the constructor is was not deprecated, it was the props injection so I didn't see a good way to give a deprecation warning to only those who were using the old synta

[2019-10-03 16:53] #35 closed

[2019-10-06 00:08] jrmarkham opened #36 "Version 6 has a bug with passing to super."
**Describe the bug**
I have a project using your blocs and I was using equatable 6.1 on events and states. I had an event that would fire twice and then nada. I downgrade to 5.1 and it worked perfectly.

I have a github of the project if you’d like to see the updates. It is tiny project w/ only one bloc.

By the way I love your plugins— you did an excellent job.

Here is the project:

https://gith

[2019-10-06 00:49] jrmarkham commented on #36
Here are the updates so you don't have to dig:
`====================================

 import 'package:equatable/equatable.dart';

 abstract class FirebaseState extends Equatable {
   const FirebaseState([List props = const <dynamic>[]]);
   @override
   List<Object> get props => [props];
 }

 class FirebaseStateInit extends FirebaseState {}
 class FirebaseStateLoading extends FirebaseState {}
 cl

[2019-10-06 19:08] felangel commented on #36
Hi @jrmarkham 👋
Thanks for opening an issue!

I've created a [pull request](https://github.com/jrmarkham/7dieroller/pull/1) to update to Equatable v0.6.0. Can you please take a look and let me know if that helps? Thanks! 👍

[2019-10-06 20:25] jrmarkham commented on #36
Looks good-- but I am rejecting your merge. Because this is a test project for prospective employer so I don't want her to think there was any funny business. She's former dev so she'd probably understand but I'd rather not take the risk. Thanks for the help and I'll run your updates locally on my build.

[2019-10-06 20:25] #36 closed

[2019-10-06 20:26] felangel commented on #36
@jrmarkham no problem and sounds good 👍

[2019-10-06 20:33] jrmarkham commented on #36
Ok -- I test on 6.0 and 6.1 and  both work.  (thumb)

I'd just emphasize in your docs the you need this on event/states without props; that I think was the original issue I believe. Again, thanks for the BLoC and equatable packages they areis really helpful.

`  @override
  List<Object> get props => [];`

[2019-10-06 20:36] felangel commented on #36
@jrmarkham thanks for confirming 👍

Yup, I'll improve the docs. Thanks for the feedback!

[2019-11-07 10:44] Tokenyet opened #38 "About const constructor changed"
Hi, I'm a fan of Bloc. and found out that a lot of changed from old version. `equatable` is the most confusion part for me. According to example, there is a fairly of use case on `const Constructor`, and than I digged in some post about It. Here is the [post](https://stackoverflow.com/questions/21744677/how-does-the-const-constructor-actually-work) I read from stackoverflow, and [official document

[2019-11-11 17:04] davidmorgan opened #39 "Provider stronger hash codes"
I was looking for ways to ease `operator ==` and `hashCode` in Dart and found equatable.

It seems a reasonable approach overall.

But, looking at the implementation, it looks like it uses XOR to combine hashes. This would mean, for example, that

[code]

and

[code]

will hash to the same value. Did I miss something?

I think the correct approach would be to use something like

https://en.wikiped

[2019-11-11 18:11] felangel commented on #38
Hi @Tokenyet 👋
Thanks for opening an issue and for the positive feedback!

You're right that in this case you don't need the `const` constructor. It was just generated as a best practice by the vscode extension but in this specific case you can remove it 👍

I'll update the example accordingly 👍

[2019-11-11 18:20] felangel commented on #39
Hi @davidmorgan 👋
Thanks for opening an issue!

You bring up a great point and we can definitely make this improvement. I would love to review a pull request if you want to contribute or alternatively, I can try to make this adjustment over the next few days 👍

Thanks again!

[2019-11-13 10:21] davidmorgan commented on #39
I currently have a cold so I'm sticking to email right now ;)

BTW, the reason I was looking into this is I'm considering proposing a lint recommending that people not implement `operator==` and `hashCode` by hand; I was looking for libraries to point people to as better. I wrote `built_value` which is one such library, but I didn't want to just point people to my own library :D

I wonder if you k

[2019-11-14 02:51] felangel commented on #39
@davidmorgan hope you feel better! That's awesome, I think a lint would be really nice to have. I honestly only know of `built_value` and `equatable` as well 😛.

BTW I was thinking about your proposal and am wondering if there's a concrete use-case where XOR would not work? I agree that it theoretically doesn't satisfy all cases, but given the props override is part of the class implementation I d

[2019-11-14 11:08] davidmorgan commented on #39
The problem is that naturally occurring data might lead to a large number of hash collisions.

For example, if you have a `Set` of `Point` objects that represent two diagonal lines:

`(1, 2), (2, 4), (3, 6), (4, 8), (2, 1), (4, 2), (6, 3), (8, 4)`

then these eight objects hash to only four hash codes.

Another natural example would be if you have one field for first name, one field for last name;

[2019-11-14 13:09] felangel commented on #39
Makes sense, thanks for clarifying 💯

[2019-11-18 17:32] felangel commented on #39
Done in #40 and will be released as part of v1.0.0

[2019-11-18 17:32] #39 closed

[2019-11-18 22:52] ThinkDigitalSoftware opened #41 "False positive equality with Lists"
**Describe the bug**
I have 2 states that are showing up equal when lists are involved.
[code]
<img width="722" alt="Screen Shot 2019-11-18 at 2 27 18 PM" src="https://user-images.githubusercontent.com/23037821/69099598-ff2abe80-0a0f-11ea-8f7e-0a60c69c0bf7.png">

<img width="780" alt="Screen Shot 2019-11-18 at 2 27 40 PM" src="https://user-images.githubusercontent.com/23037821/69099603-ff2abe80-0a

[2019-11-18 23:34] felangel commented on #41
Hi @ThinkDigitalSoftware 👋
Thanks for opening an issue!

I think this is working as expected but because you omitted the `source` property from your `props` it isn't be considered when evaluating the equality of the two instances.

[code]

Can you let me know if that helps? Thanks!

[2019-11-18 23:35] ThinkDigitalSoftware commented on #41
Oh (-_-). Oops. Well then. I'll just close this one then :P Thanks!

[2019-11-18 23:36] ThinkDigitalSoftware commented on #41
I added that prop after I created the class and forgot to update the getter

[2019-11-18 23:36] #41 closed

[2019-11-19 13:28] Renesanse commented on #39
Thank you @davidmorgan  for improvements!

[2019-11-19 13:30] davidmorgan commented on #39
Awesome, thanks!

[2019-11-24 03:36] Renesanse opened #43 "Last changes with hash function is not good at all"
code:
[code]

v1.0.0:
code:
[code]
console:
1061099485
1061099485

v0.6.1:
code:
[code]
console:
343974154
350953922

Well, I am understand you want to find a `good` hash function, but I think last one was better =) Thx

[2019-11-24 07:10] felangel commented on #43
Hi @Renesanse 👋
Thanks for opening an issue and for catching this case! I'll have a fix asap 👍

[2019-11-24 07:16] felangel commented on #43
Fixed in #44 and published in v1.0.1

[2019-11-24 07:16] #43 closed

[2019-11-24 12:39] Renesanse commented on #43
Thx

[2019-12-10 07:37] hunght commented on #23
in flutter_bloc, we have Transition that shows you the currentState and nextState which base on Equatable, so I need a way to compare the diff between curentState and nextState, could someone help me with this?
thanks

[2019-12-10 15:07] ThinkDigitalSoftware commented on #23
Well you can write specifically, if previousState.name!= nextState.name....

[2019-12-11 07:08] hunght commented on #23
@ThinkDigitalSoftware , your example is too simple, if we have nested object it will too hard to check

[2019-12-11 07:30] ThinkDigitalSoftware commented on #23
Unless it's not really. You're only comparing objects

[2019-12-11 08:42] hunght commented on #23
like we have state contain Post object which has array of comments, so you need to compare all the comments objects right?.  so I want to see the diff in this case

[2019-12-11 13:16] felangel commented on #23
@hunght can you please provide a sample of what you would like the diff to look like?

[2019-12-11 18:30] ThinkDigitalSoftware commented on #23
Since equatable compares objects anyway, then, in the for loop (or however it's implemented) when you're comparing objects,
[code]
this could return, for example a Map<String, bool> {} // not sure on implementation,
or a custom class like... `EquatableDiff(List<Object> equalValues, List<Object> unequalValues);`
For the map, field name can be runtimeType, or anything that can identify the object.
T

[2019-12-11 18:35] ThinkDigitalSoftware commented on #23
I see what you mean. Say it was done with a custom class, a diff would be
[code]
Since it's only checking lists and maps  to see if are or are not equal using DeepEquality, then it's a single true or false value for the entire list or map. If you want to go deeper, then we'd be discussing `Set` differences, which can get complex and would, IMO be beyond the scope of this library and this issue.

[2019-12-12 01:53] hunght commented on #23
@felangel @ThinkDigitalSoftware  this is what I want to achieve, it is written in js, pls check the answer with sample output https://stackoverflow.com/a/8596559/723160

[2019-12-12 02:04] hunght commented on #23
this is something similar to redux devtool that they can detect the diff between the current state and next state, and show the detail of the diffs

[2019-12-18 00:26] ThinkDigitalSoftware commented on #23
@hunght  it's a lot easier to create arbitrary objects in js. You can just add things to them like we add to maps in Dart. So the alternative would be returning a map

[2019-12-18 00:46] hunght commented on #23
@ThinkDigitalSoftware yes, return a map is work for me too

[2019-12-24 13:44] HossamElharmeil opened #46 "Equality for objects with a list parameter"
I'm playing around with the new library bloc_test for flutter and I implemented the following test

[code]
This is the implementation of ReservationsLoadSuccess

[code]
Where ReservationState extends Equatable Now, when running the test, you get the following error

[code]
Basically saying that the state ReservationsLoadSuccess at position 2 in the actual list is not equal to its peer in the expec

[2019-12-25 07:44] felangel commented on #46
Hi @HossamElharmeil 👋
Thanks for opening an issue!

I believe the issue is your `Reservation` class is not extending `Equatable`. Can you please confirm? Thanks!

[2019-12-25 07:50] HossamElharmeil commented on #46
I thought that might be the case too but it does extend equatable when I double checked :D
Here is the implementation

[code]

[2019-12-25 08:00] felangel commented on #46
@HossamElharmeil what about `DateTime`? I think that might be the problem.

[2019-12-25 08:29] HossamElharmeil commented on #46
I tried changing the props list only to contain the userID parameter but that did not work either which is really interesting. I think the issue is with the reservation class as you suggested but I'll have to figure out how

`class Reservation extends Equatable {
  final String salon;
  final String userID;
  final DateTime dateTime;

  Reservation({this.salon, this.userID, this.dateTime});

  @ov

[2019-12-25 09:00] HossamElharmeil commented on #46
So, I implemented the exact same class without the DateTime parameter and this time it actually worked! I guess having a parameter that is not equatable by value in the class means the class itself cannot be equatable by value regardless of the parameters passed to props?

Anyway, thank you so much for your help, Felix. At least I know how it works now xD

[code]

[2019-12-25 17:00] felangel commented on #46
@HossamElharmeil yup you can create your own `EquatableDateTime` by using the `EquatableMixin`. Closing for now but feel free to comment with additional questions/comments and I'm happy to continue the conversation 👍

[2019-12-25 17:00] #46 closed

[2019-12-26 18:26] HossamElharmeil commented on #46
Somehow I got it to work by instantiating the list directly inside the test instead of declaring it in the main() function of the test and then passing it as a parameter.

[code]

Turns out that the implementation of DateTime does actually override the equals operator for value equality, it had to do with the declaration of the list which is kinda weird. Maybe I'll have to do some research about r

[2020-01-08 17:42] LinoAlejandro opened #48 "Why does Equatable requieres class properties to be final?"
i was running the next test

[code]

When i set Item class properties to non-final:

[code]

i get the next hint

but in the end, whit or without final, the tests are always successful.

- Is there any caveat in setting the properties to non-final (extending equatable)?
- Using the equatable mixin it looks like there is not need to set class properties to final. does this impact any kind of proces

[2020-01-08 17:58] micimize commented on #48
@LinoAlejandro had the same question earlier today and [added @felangel's answer to the readme](https://github.com/felangel/equatable/pull/47/files):

[2020-01-08 18:09] LinoAlejandro commented on #48
thank you @micimize

[2020-01-08 18:09] #48 closed

[2020-01-10 10:09] thomas-bartleet opened #49 "Matching HashCodes for objects with inner lists"
**Describe the bug**
I have created two objects, both contain a `String` object and a `List<int>` object. The `List<int>` objects are the same, but the `String` object differs. In theory, this should mean the two objects are different. Checking the equality using `==` and `!=` works fine, but the hash codes match exactly.

**To Reproduce**
[code]

The result is:
[code]

However, if I create my `Li

[2020-01-10 13:45] thomas-bartleet commented on #49
Interestingly, using the spread operator (`...`) on the list contents seems to pass the test fine:
[code]

Why does this work and not just inserting the list property itself?

[2020-01-14 14:55] Quijx opened #50 "Add ability not to have public props field"
**Is your feature request related to a problem? Please describe.**
Say I want to create an equatable class that is part of a public API. In that case I would not want to have the public field `props` exposed because that may confuse the user.

**Describe the solution you'd like**
One solution for immutable classes would be to have an abstract class `ImmutableEquatable` that has a private `_props`

[2020-01-15 17:18] oysterpack opened #51 "EquatableMixin fails on equality, but extending Equatable works"
**Describe the bug**
Extending Equatable works, but using EquatableMixin does not result in equality.
I tried debugging it, and it does not even go into EquatableMixin ... this may be a Dart issue?

It doesn't even work when I remove all of the fields. It's as if, EquatableMixin is being ignored by Dart and simply doing object equality.

I am using Dart 2.7 and running the tests via flutter test (

[2020-01-15 23:20] oysterpack commented on #51
mio copa - I was using implements instead of `with EquatableMixin`

[2020-01-15 23:20] #51 closed

[2020-01-17 01:21] felangel commented on #49
Hi @thomas-bartleet 👋
Thanks for opening an issue!

Instances that aren't equal can have the same `hashCode`.

https://api.dart.dev/stable/2.7.0/dart-core/Object/hashCode.html

With that being said I'll definitely take a closer look and see if there's anything I can do to eliminate this clash. Thanks for reporting this! 👍

[2020-01-17 16:25] Renesanse opened #52 "Something strange with hashcode"
code:
[code]

Expected: different hashcodes
Actual: the same

code:
[code]
Expected: different hashcodes
Actual: different hashcodes

[2020-01-17 21:58] Renesanse commented on #52
I solved my problem by ... operator from this issue: https://github.com/felangel/equatable/issues/49. But,  my example really looks strange, what possibly could be wrong?

[2020-01-24 23:12] felangel commented on #52
Hi @Renesanse 👋
Thanks for opening an issue! I believe this issue has been fixed in #49 and published in v1.0.2

[2020-01-24 23:12] #52 closed

[2020-01-24 23:13] felangel commented on #49
I believe this has been resolved by #49 and published in v1.0.2

[2020-01-24 23:13] #49 closed

[2020-01-24 23:31] Renesanse commented on #52
Thx =)

[2020-01-27 16:27] thomas-bartleet commented on #49
Many thanks, @felangel and @pjahn87 !

[2020-02-02 10:25] Tokenyet opened #54 "It's a confusion about List comparison"
HI! Thanks for the great package with equatable! It's very helpful for object comparision, but I got a confusion on the following code:
[code]

result:
[code]

Currently, I met the problem above with `equatable`, but for deep testing that's the default behavior with dart's `List`, I expect that after toList, the `quickCheck` list is not affected by `logs` list, but the result is kinda supprising f

[2020-02-02 10:34] Tokenyet commented on #54
Never mind, the *Syntactic sugar* is my blindfold, this is the expected way to do this kind of operation.
[code]

[2020-02-02 10:34] #54 closed

[2020-02-07 00:37] mrdavidrees opened #55 "Would you be able to explain this weird equatable behaviour?"
**Describe the bug**
Equatable is returning false when it should return true

**To Reproduce**
Using equatable 1.0.3
I created the following class
[code]
And ran the following check
[code]

I wanted to debug in and see which condition was returning false so i imported the equals function and overrode the operator, I was extremely surprised to see that the equals operator returned true
[code]
This

[2020-02-07 01:51] felangel commented on #55
Hi @mrdavidrees 👋
Thanks for opening an issue!

I believe the problem is your class is implementing Equatable when it should be extending Equatable. Let me know if that helps 👍

[2020-02-07 02:28] mrdavidrees commented on #55
Oh wow. You're totally right.
Would have never expected to subclass Equatable since, in other programming languages it's always an interface or protocol.

Thanks so much for your help.

[2020-02-07 02:28] #55 closed

[2020-02-08 16:00] rodrigobastosv commented on #46
Hi @felangel can we reopen this? Turns out i'm having the exact same problem as @HossamElharmeil.
When i instantiate the list directly on the test it works, if i initialize the list inside setUp it doesn't work.

It may not be a problem with Equatable, but this behavior it's quite strange

[2020-02-10 15:37] felangel commented on #46
@rodrigobastosv can you provide a link to a sample which reproduces the issue?

[2020-02-10 16:54] rodrigobastosv commented on #46
Sure, just let me get back at home and i'll provided it. Thanks

[2020-02-10 17:17] rodrigobastosv commented on #46
Hi @felangel , this is my repo https://github.com/rodrigobastosv/firebase_bloc

I created branchs with the problematic tests only
- The branch passing-tests has the tests working with some workarounds
- The branch failling-tests has the tests as i expected to be, but that are failing to pass

See that my model uses equatable with only id, so i expected to just work.

There's another test that is o

[2020-02-10 19:48] felangel commented on #46
@rodrigobastosv will take a look shortly, thanks!

[2020-02-11 04:30] slavap opened #59 "Please add copy method with the same logic as stringify, i.e. copy props only."

[2020-02-11 15:37] felangel commented on #46
@rodrigobastosv took a look and the problem is due to the fact that you're using an immutable list for `congressPeople`.

[code]

Also (tests still pass without this) but I noticed that you're not passing all props in `CongressmanModel`

[code]

Hope that helps 👍

[2020-02-11 15:53] felangel commented on #59
Hi @slavap 👋
Thanks for opening an issue!

Can you please provide some sample code which illustrates how you'd like this feature to look/work? Thanks!

[2020-02-11 16:52] rodrigobastosv commented on #46
Thanks for the reply @felangel !

[2020-02-11 21:47] slavap commented on #59
@felangel Sure, something like this:
[code]

[2020-02-11 22:33] felangel commented on #59
@slavap Sorry but I'm still not sure I understand. Can you try to provide a real-world use case as an example?

[2020-02-11 23:18] slavap commented on #59
@felangel
Real world example: in my class I have many key fields (let's say > 10). In some place I know for sure which ones of them are changed (let's say only two). I want to create new instance with new key fields, so first I create copy of old instance:
[code]
Otherwise I need to copy 10+ fields, or use some third party solution which implements copy method, or user json serialization oldObj.to

[2020-02-16 13:35] wagner1343 commented on #59
I guess that what you want:
[code]
But it not possible to create a generic base method for copy with current props implementation. The reason is because props is just an array of objects, and there is no way to tell wich object goes to wich field when copying.
Maybe this can be solved overriding a method for creating instances from props:
[code]
But it looks weird anyway

[2020-02-17 07:32] slavap commented on #59
No, if additional method needs to be overridden, then it makes no sense. I would rather use Json serialization methods generator for getting copy functionality implemented.

[2020-02-17 21:30] rtviwe opened #60 "Make stringify = true by default"
I have to always write:
[code]
Mostly all classes which extends Equatable needs to override toString().

[2020-02-18 15:06] felangel commented on #59
I'm going to close this because I don't think `copyWith` is possible without code generation or additional information. If you want `copyWith` I would recommend using [freezed](https://pub.dev/packages/freezed) or some other generators.

[2020-02-18 15:06] #59 closed

[2020-03-13 10:02] jasin755 opened #61 "Remove @immutable"
Please remove `@immutable` It has nothing to do with equatable/ comparing values.

[2020-04-10 13:57] ycherniavskyi opened #62 "Introduce special notation for null props"
**Is your feature request related to a problem? Please describe.**
It will be great to have the possibility to permanently or temporarily disable `Equatable` functionality and compare objects only by references.

Example from bloc library area. In some conditions, we want that new bloc state update the current bloc state of some bloc even if they hold the same data.

**Describe the solution you'd

[2020-04-24 11:49] sgehrman opened #63 "hashcodes different on web vs. flutter app"
I have an Equatable object, I'm creating the same object in the flutter app, then passing the data to a dart web app and noticed the hashCodes are different on the two platforms. I wanted the Ids to match across web and flutter so I could pass the hashcode back and forth to identify the data I wanted, but the hashcodes are different on web and flutter.

[2020-04-27 23:13] felangel commented on #63
Hi @sgehrman 👋
Thanks for opening an issue!

Unfortunately, I don't think there's much that can be done about that. The `Equatable` hashCode is computed from the hashCodes of the individual properties and if those differ across platforms, then the computed hashCode will also be different. I would not rely on hashCodes to be consistent across platforms and use an `id` that you are in control of.

H

[2020-04-27 23:13] #63 closed

[2020-04-27 23:14] felangel commented on #62
Hi @ycherniavskyi 👋
Thanks for opening an issue!

Can you please provide a use-case for the proposed changes? Thanks!

[2020-04-28 10:15] ycherniavskyi commented on #62
@felangel my case when I need such possibility (currently I implement it by override `operator ==` and `hashCode` with Object `identical` and `identityHashCode` appropriately) is to complete `Future` returned by `onRefresh` method of `RefreshIndicator`.

I implemented it a bit differently (add the snippet below) than in your [Flutter Weather Tutorial](https://bloclibrary.dev/#/flutterweathertutori

[2020-04-28 18:33] ThangVuNguyenViet opened #64 "Equatable doesn't work with List prop"
`class EquatableStrings extends Equatable{
  final List<String> strings;
  const EquatableStrings({this.strings});

  @override
  List<Object> get props => [strings];
}

EquatableStrings(['a']) == EquatableStrings(['b']) //true
['a'] == ['b'] // false, obviously`

I expect the first comparison to be false, as the prop inside it was different. Is there something that I'm missing?
I'm working with f

[2020-04-28 18:36] felangel commented on #64
Hi @ThangVuNguyenViet 👋
Thanks for opening an issue!

I suspect the problem is your list is of type dynamic.

Can you try adjusting your class to:

[code]

[2020-05-10 00:54] felangel commented on #64
Closing for now but feel free to comment with additional questions/information and I'm happy to continue the conversation 👍

[2020-05-10 00:54] #64 closed

[2020-05-10 00:56] felangel commented on #62
@ycherniavskyi thanks for the clarification. @jorgecoca what are your thoughts on this?

[2020-05-10 15:08] jorgecoca commented on #62
@ycherniavskyi Thank you for opening this issue! This feedback is really appreciated! ;)

I personally do not see a good fit for this in `Equatable`. My concern is that, by introducing a change like this, it makes the library less predictable: in my mind, `equatable` somehow gets you closer to a "data class" from Kotlin (that is, just a pure model that provides a well-known equality model/algorith

[2020-05-11 07:50] ycherniavskyi commented on #62
Pity, but ok.
In such a case I suggest you to extend the documentation with a more detailed description of "special" `props` return values, such as `null` and `[]`.

[2020-05-26 16:10] Yash2711 commented on #61
@felangel any plan on working on this issue?

[2020-05-26 20:52] TheMeanCanEHdian opened #67 "Issue with False Equatability"
I am struggling with a unit test that I expect to return true but doesn't seem to be registering equatability. I hope this is the correct way/place to ask for help. I've tried to research what I can but most guides seem aimed at older versions of Equatable.

The unit test message shows the contents are the same but Equatable doesn't seem to be taking effect? I'm sure it's user error but I just don

[2020-05-26 20:56] felangel commented on #67
Hi @TheMeanCanEHdian 👋
Thanks for opening an issue!

I believe the issue you aren't specifying the type of the `Map`.

Can you try the following and let me know if that helps?

[code]

[2020-05-26 21:05] TheMeanCanEHdian commented on #67
Thank you for the quick response. I applied the type where you suggested and to the ActivityModel data map (only applying it to Activity resulted in an error). But I am still getting the same error response from the test.

[2020-05-27 02:45] felangel commented on #61
@jorgecoca what are your thoughts on this? While in most cases `Equatable` is used with the goal of getter closer to [data classes](https://kotlinlang.org/docs/reference/data-classes.html), it isn't technically a responsibility of the package itself to enforce this since the package is just concerned with implementing value equality. I'm not opposed to removing the immutable annotation but want to

[2020-05-27 02:47] felangel commented on #60
Will try to work on a solution which aligns with https://github.com/felangel/equatable/pull/65#issuecomment-634394735.

[2020-05-27 02:56] felangel commented on #67
Hi @TheMeanCanEHdian 👋
Sorry for the delay I finally had some time and tweaked your example to work properly:

[code]

Hope that helps 👍

[2020-05-27 02:56] #67 closed

[2020-05-27 12:41] TheMeanCanEHdian commented on #67
Interesting, thanks for your help!

So does Equatable not work on nested Maps?

[2020-05-27 13:26] jorgecoca commented on #61
Yes, I guess it makes sense; I'd ok with the change as well.

[2020-05-27 14:01] felangel commented on #67
@TheMeanCanEHdian no because nested maps aren't Equatable.

Take the following example:

[code]

[2020-05-27 14:11] TheMeanCanEHdian commented on #67
Incredibly helpful. Thanks again!

[2020-05-29 00:48] felangel commented on #61
On second thought it doesn't appear to be a good idea because it's not recommended to override `==` and `hashCode` on classes that aren't immutable.

Going to close this for now but if you disagree feel free to comment and I'm happy to continue the discussion 👍

[2020-05-29 00:48] #61 closed

[2020-05-29 01:23] felangel opened #68 "[Proposal][BREAKING] Global Stringify"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a way to globally configure `stringify` for all `Equatable` instances. The proposal includes a breaking change to refactor `stringify` from a `bool` to an `enum` in order to be able to support a "default" (normal) setting in addition to an "enabled" (always) and "disabled" (never) setting.

**Describe the s

[2020-05-29 01:25] felangel commented on #60
opened a proposal for this in #68. closing this so we can consolidate all thoughts/feedback in #68.

[2020-05-29 01:25] #60 closed

[2020-05-29 07:57] zepfietje commented on #68
@felangel could you elaborate on the behavior of the "default" (normal) setting?

[2020-05-29 13:29] felangel commented on #68
@zepfietje the normal setting will result in just the runtimeType being printed.

[2020-05-29 14:21] zepfietje commented on #68
@felangel what's the difference between `normal` and `never`?

[2020-05-29 14:27] felangel commented on #68
Normal will defer to the EquatableConfig setting never will never stringify.

[2020-05-29 14:37] zepfietje commented on #68
So why exactly would we need an `enum`? Isn't there a way to defer to the `EquatableConfig` by default and allow the `stringify` `bool` to be overridden for an individual `Equatable`?

[2020-05-29 16:41] felangel commented on #68
@zepfietje good call...I've updated the issue to maintain a bool (which makes this a non-breaking change). The PR is open at #69 👍

[2020-05-30 10:34] zepfietje commented on #68
@felangel this issue can now be unpinned. 👍

[2020-06-05 15:30] lbel opened #71 "Some thoughts on EquatableConfig"
**Is your feature request related to a problem? Please describe.**
I really like being able to configure my `Equatable` classes globally using `EquatableConfig` (#68), since it saves me a lot of `stringify` overrides in the various classes. However, I'm worried about the global, shared state of this class.

First of all, there's no logical place for me to put the statement `EquatableConfig.stringi

[2020-06-08 05:16] felangel commented on #71
Hi @lbel 👋
Thanks for opening an issue and for the positive feedback! I really appreciate it 🙏

I think the compile-time constant enhancement makes sense and I would love to hear what others think about making the value `const` (cc @jorgecoca).

[2020-06-16 10:24] techadroit opened #72 "Nested object equality doesn't work"
HI @felangel ,

I have used the following class heirarchy to maintain state. And it works fine with bloc, when trying to test the equality in unit test i get the error. Couldn't figure out what is the issue.

abstract class Resource{

}

class Uninitialized extends Resource{
  static final Uninitialized _uninitialized = Uninitialized.init();
  factory Uninitialized() => _uninitialized;
  Uninitial

[2020-06-16 13:59] felangel commented on #72
Hi @techadroit 👋
Thanks for opening an issue!

I’m guessing your Resource class doesn’t extend equatable or doesn’t have the props override configured properly. Can you please share your Resource class implementation? Thanks 👍

[2020-06-18 07:44] techadroit commented on #72
Thanks @felangel for the help, it worked. 👍

[2020-06-18 07:44] #72 closed

[2020-06-18 12:12] ram231 commented on #71
I'm thinking of a separate issue regarding EquatableConfig. In your example code

[code]
this prints `Person(Bob)`. But when it has too many (named)parameters it can be hard to determine which values have been set to null or numbers we referred to(like latitude & longitude) or `Person(firstName: Bob, secondName: Martin)`.

[2020-06-23 13:26] zepfietje commented on #71
@felangel, I agree with @lbel that having to specify `EquatableConfig.stringify = true;` in every test still causes quite a bit of code duplication. Basically, we've moved the `stringify` code from the implementing `Equatable` classes to our tests...

[2020-06-23 14:50] felangel commented on #71
Can you please explain why stringify needs to be enabled for tests? Do you have explicit tests to ensure `toString` returns the correct `String`?

[2020-06-23 14:58] zepfietje commented on #71
@felangel, `stringify` actually takes away the need to test for a correct `toString`. However, when testing blocs, `stringify` is really useful for debugging failing tests. Otherwise, you can't really distinguish the actual and expected emitted states for example.

[2020-06-23 14:59] felangel commented on #71
@zepfietje got it, thanks for clarifying 👍

[2020-06-24 04:26] canisterism opened #73 "How to compare List<T extends Equatable> by elements ?"
**Describe the question**

I have a question about how to compare lists of instances extending Equatable.

Dart `==` for list does not compare their elements, but hashcode as you know.
So when you compare two instances even extending Equatable, the result would be always false.
The comparison does not depend on their values. This is an expected behavior I guess.

But I would like to know if there'

[2020-06-24 07:58] canisterism commented on #73
Sorry, this comment resolved my problem. I'm closing this issue.
https://github.com/felangel/equatable/issues/64#issuecomment-620783991

[code]

[2020-06-24 07:58] #73 closed

[2020-07-08 22:01] Renesanse opened #74 "The same hashcode of Equatables with different length lists of zeros."
[code]

[2020-07-09 08:16] devonsunday opened #75 "Why "equatable" not able for non immutable class?"
**Describe the bug**
I want apply equatable for class with not final fields, but equatable is immutable.

[2020-07-09 10:37] Renesanse commented on #75
You can use equatable with mutable classes. @felangel does not recommend it, but you can mixin your mutable class with equatable:
[code]
Also, @felangel can you explain please, why you don't want people use equatable with mutable classes?

[2020-07-11 02:49] #74 closed

[2020-07-11 02:51] felangel commented on #75
Hi @devonsunday 👋
Thanks for opening an issue!

The reason for this is:

([source](https://dart.dev/guides/language/effective-dart/design#avoid-defining-custom-equality-for-mutable-classes))

It is also mentioned in the `README.md`

Hope that helps 👍

[2020-07-11 02:51] #75 closed

[2020-07-11 05:47] felangel commented on #74
Fix has been published in v1.2.1 🎉

[2020-07-16 17:46] josiahsrc opened #77 "Build runner for equatable"
This is an ease-of-use idea. I've been using the json_serializable pub package with the build_runner running, which automagically generates my from/to json methods. While I was doing this I thought, hey, wouldn't it be sweet if equatable did this too? This way I wouldn't forget to add fields to the `props` array.

The solution for this feature I'm envisioning: Before each class that you want to be

[2020-07-16 17:50] felangel commented on #77
Hi @HatFeather 👋
Thanks for opening an issue and for the positive feedback!

I'll look into the level of effort to support this as soon as I can 😄

[2020-07-16 17:53] HatFeather commented on #77
Awesome, keep me posted! I'd be happy to help out with this feature as well, just say the word!

[2020-07-31 06:51] HatFeather commented on #77
@felangel I just played around with this idea a bit. I found that extension methods actually may not work. Extension methods only allow you to add methods that haven't been declared yet. The `==` and `hashcode` methods are declared by the `Object` class, so extensions can't be used here (as far as I can tell).

I took some inspiration from the `json_serializable` library and came up with another s

[2020-08-05 14:07] RaviKavaiya commented on #77
@HatFeather I like your idea. I just checked out your files. But, if this gets implemented, we may lose the feature called selective equality (Equality based on certain fields only).
I guess, we can also include an annotation like `@excludeEquals` which will ignore that field in `props` array generated.

[2020-08-05 15:57] HatFeather commented on #77
@RaviKavaiya Thanks for your feedback! That is a good thought; I've updated the proposed solution to include the `@excludeEquals` you suggested. https://github.com/HatFeather/equatable/commit/599fa4e759d6279133608adff1c1b0f7e16c12d1

One thing I want to point out is that this solution doesn't remove any existing equatable functionality, it only provides a way to automatically generate an equality

[2020-08-05 16:00] RaviKavaiya commented on #77
@felangel your thoughts?

[2020-08-20 14:17] llucax opened #80 "dartdoc shows warnings when defining the props getter in a EquatableMixin"
**Describe the bug**
Using `dartdoc` to generate docs for a class implemented `with EquatableMixin` shows a warning about `[Equatable]` not being defined in the inherited documentation for `props`.

**To Reproduce**
Steps to reproduce the behavior:

1. `flutter create eq` (probably not necessary to reproduce but it was a quick way to get a new project to use equatable).
2. `cd eq`
3. Edit `pubspec

[2020-08-22 18:27] dalewking opened #81 "EquatableMixin does not use EquatableConfig.stringify by default"
**Describe the bug**
When extending Equatable, toString will by default look at EquatableConfig.stringify to determine what to do, but when using EquatableMixin by default toString just prints class name

**To Reproduce**

Here is a unit test demonstrating the issue:
[code]

**Expected behavior**
Both unit tests should pass

**Actual Behavior**
The mixin case fails:
[code]

**Version**
Dart SDK ve

[2020-08-23 04:25] #81 closed, assigned to felangel

[2020-09-08 04:10] felangel commented on #80
Hi @llucax 👋
Thanks for opening an issue!

I believe this should have been fixed in v1.2.4. Can you please try upgrading and let me know if you're still seeing the warning?  Thanks 👍

[2020-09-08 09:03] llucax commented on #80
Hi @felangel, sadly it is still happening in 1.2.4:
[code]

[2020-09-08 16:22] #80 closed

[2020-09-08 16:28] felangel commented on #80
@llucax thanks! This should be resolved in v1.2.5 🎉

[2020-09-09 08:51] llucax commented on #80
Thanks! That did the trick!

[2020-09-10 21:10] JohnGalt1717 commented on #64
I'm also getting this and I have it defined as:

final List<EmailAddressState> emailAddresses;

@override
  List<Object> get props => [status, errorMessage, emailAddresses, contact];

EmailAddressState also implements equatable so any change to any element in the List should trigger inequality or an add/remove to or from the list should do the same.

It appears to work on updating, but it doesn't

[2020-09-14 19:13] JohnGalt1717 opened #85 "Lists even if elements are Equatable don't cause changes"
**Describe the bug**
If a list is one of the properties on an object, then add/remove and per item comparisons fail which causes things like FlutterBloc etc. that rely on equitable to determine if something has changed, to also fail.

**To Reproduce**

1. Create an object, add a List<equatable> property and add it to props
2. Add an item to the list, note that nothing changes and equatable still d

[2020-09-14 19:32] felangel commented on #85
Hi @JohnGalt1717 👋
Thanks for opening an issue!

Can you please provide a link to a reproduction sample? Thanks! 🙏

[2020-09-14 19:33] JohnGalt1717 commented on #85
@felangel Don't know what there is to reproduce. Lists don't cause equatable to change status. It's that simple.  It ignores add/deletes of items from the list.

[2020-09-14 19:36] felangel commented on #85
@JohnGalt1717 having a concrete reproduction sample would help because we can be sure we are looking at the exact same scenario.

For example, are you mutating the list (sounds like it) or are you creating a new instance of the list with the added item? I'm happy to take the time to investigate this but I would really appreciate if you could take the time to create a simple reproduction sample, th

[2020-09-14 19:38] JohnGalt1717 commented on #85
Standard process of immutable classses.

Create one with a list.
Create a copy and update the list
compare the original class with the updated class. Still shows that it's equal even though the lists are different.

[2020-09-14 19:43] felangel commented on #85
There are currently tests for this https://github.com/felangel/equatable/blob/baf9a669d97fd68b41cdb1a3c4afcac72c6d0dfe/test/equatable_test.dart#L655. Is there a case that is missing? I'm not sure why you are so resistant to sharing a small chunk of code which reproduces the issue you're facing. It's making it harder to reach a solution.

[2020-09-14 19:45] JohnGalt1717 commented on #85
I'm trying to.

create a class, put a property in the class that is a list, set props = [listprop]
Create an instance of said class with something in the list.
Create a copy of said class
Add another item the list of the copy

Compare the original and the copy of the class.

Equatable says that the 2 are the same. They are not.

The tests you just linked to compare 2 lists, not to objects with lis

[2020-09-14 19:46] felangel commented on #85
Rather than describing in words can you share the dart code? There are tests for classes with lists in them as well:
https://github.com/felangel/equatable/blob/baf9a669d97fd68b41cdb1a3c4afcac72c6d0dfe/test/equatable_test.dart#L497

[2020-09-14 20:04] JohnGalt1717 commented on #85
The following:

[code]

Results in equatable = true on line 29 and 34.

They're clearly not because objB doesn't have the same number of elements that objC has in values as an example.

It should have returned false in both cases because values has a different length.

[2020-09-14 20:17] felangel commented on #85
@JohnGalt1717 this is because you are mutating values. If instead you created a new instance of objB with a `copyWith` then things would work as expected:

[code]

Hope that helps 👍

[2020-09-29 19:19] Prn-Ice opened #89 "Full Output toString"
**Is your feature request related to a problem? Please describe.**
I was recently comparing two classes, the objects were different, but I couldn't see which because the current `toString` displays only the first and last set of props. I have had to manually print out all props when I faced this.

**Describe the solution you'd like**
Would be nice to have a toString which prints out props in a `pr

[2020-09-29 19:32] Prn-Ice commented on #89
Printing `toMap` is sufficient, thanks.

[2020-09-29 19:32] #89 closed

[2020-10-01 07:15] lsaudon commented on #77
I don't like the `build_runner`.
It will make `equatable `dependent on a package that takes more time to generate than typing it yourself.
I skip the possible regressions of `build_runner`.

[2020-10-08 03:23] #85 closed

[2020-10-08 21:28] Ozymandias93 opened #90 "I should use final, but what if I need to modify something instead?"
Hi! I'm new with equatable and I've red that all the parameters in my model must be final, but I don't know how to deal with it...
What if i need to modify one of these parameters? I've a view where you can add new restaurants to a list, and this list will be saved in Firestore. I'm using flutter bloc, so I add a CreateRestaurantFirebaseEvent, and this is what happens in my mapEventToState:

[code

[2020-11-02 13:28] sm2017 opened #91 "Mark a props equals if is identical"
@felangel Is it possible to mark an specific `prop` that is equal when it's identical?

[code]

I need a way to told dart that two person in equal if has same name but has `identical` orders not **deep equal** orders

I think we can achieve by following way

[code]

[2020-11-02 14:13] felangel commented on #91
Hi @sm2017 👋
Thanks for opening an issue!

Can you provide a bit more context regarding why you have this requirement and what you are trying to achieve? Thanks! 🙏

[2020-11-02 14:16] felangel commented on #90
Hi @Ozymandias93 👋
Thanks for opening an issue!

You can define a copyWith method on your class and instead of trying to modify the instance create a new instance with the updated values using copyWith. You can check out https://github.com/felangel/bloc/blob/c1fc3b8b8484265ec75fd208f58588d809ed7d17/examples/flutter_infinite_list/lib/posts/bloc/post_state.dart#L16 as an example.

Hope that helps 👍

[2020-11-02 14:16] #90 closed

[2020-11-02 14:22] sm2017 commented on #91
I want to add `RefreshIndicator` in my listview and in my bloc I do the same as https://github.com/felangel/bloc/blob/90cebad4c039080c98f8daf3adc6e6a5f189a315/docs/_snippets/flutter_weather_tutorial/refresh_indicator.dart.md

I want to keep the latest data while pull to refresh finished its job , so I don't emit `Loading` state once I refresh, when I get fresh data from server, as two `orders` is

[2020-11-02 14:24] felangel commented on #91
You can add a lastUpdated property to the state so you know when it was late updated. Another option is to use cubit check out the latest refresh implementation in the flutter weather example. Let me know if that helps 👍

[2020-11-02 14:30] sm2017 commented on #91
What about `hashCode` is it okay?

[code]

[2020-11-02 14:31] sm2017 commented on #91
What about hashCode is it okay?

[code]

[2020-11-02 14:37] felangel commented on #91
I don’t think hashCode is required to be different for different instances so it’s not a safe assumption.

[2020-11-02 14:39] sm2017 commented on #91
@felangel I'm newbie in dart, Can you show me an example that demonstrate `hashCode` is not safe for this use case , Or can you refer me to a doc?

[2020-11-02 15:09] felangel commented on #91
https://api.dart.dev/stable/2.10.3/dart-core/Object/hashCode.html

[2020-11-02 15:28] sm2017 commented on #91
Ok, please read again my last response
What you think about this line?

https://github.com/felangel/equatable/blob/master/lib/src/equatable_utils.dart#L24

[2020-11-02 15:29] felangel commented on #91
yes but it can be overridden so it's not a safe assumption in every case. It might work for your case but I don't think it's a good general rule.

[2020-11-02 17:28] sm2017 commented on #91
Thanks a lot, I understand, Currently I'm talking about comparing `List`s

[2020-11-15 08:45] #91 closed

[2020-11-15 22:04] felangel commented on #77
Hey all 👋

So far I’m not inclined to proceed with this change for several reasons:

1. The primary goal of equatable was to solve the issue of value based equality comparisons without code generation — there are already several alternatives to equatable which use codegen like freezed and built_value.

2. There are already extensions like [Dart Data Class Generator](https://marketplace.visualstudi

[2020-11-16 03:00] josiahsrc commented on #77
@felangel You bring up some good points. My original motivation for the equatable build-runner was to make it so there was minimal thinking necessary for maintaining a suite of data models in your code base (E.g. if you change a model, you don't have to remember to update the equatable props as well). The existing equatable generators still require some forethought, as far as I'm aware. You'll sti

[2020-11-19 01:33] JamesMcIntosh opened #92 "Add field labels when generating toString"
When you have multiple parameters in the object it becomes hared to distinguish between them.

I would recommend controlling this at a global and class level as done with the `EquatableConfig.stringify` as it can quickly double the amount which ends up in logs.

[code]
Would become
[code]

[2020-12-02 06:08] guillermin commented on #25
If only the properties passed to the super class must be final, why force all Equatable children to be immutable? I'm in the same boat as @dmh2000 with a class that has several final properties and one that is not because it is loaded afterwards with a subsequent server request. The Equatable check doesn't depend on this property (basically the class refers to a file, and the filename is being use

[2020-12-02 06:58] normancarcamo commented on #71
Hi there' I was about to ask this question, luckily for me I've found this, I'm thinking of using this config directly into the `main.dart` file.
I think it's a good place, what do you think?

[2020-12-07 23:29] felangel commented on #25
@guillermin it is necessary for the actual class to be immutable.

[2020-12-23 15:15] polRk opened #94 "Bad working of toString"
My Task object

[code]

and

[code]

return

[code]

**Expected behavior**
Show full record with sub records

**Version**
latest

[2020-12-23 15:17] polRk commented on #94
Don't use .map function, use + instead
 '$runtimeType${props?.map((prop) => prop?.toString() ?? '') ?? '()'}';

[2020-12-24 09:23] polRk commented on #94
See my PR #95

[2021-01-03 14:03] nguyenxndaidev opened #96 "Support different props for == and hashcode"
# Problem
I have a class, which contains fields: `id` and `name`.
I want to calculate hashcode from only field `id`, but `==` should be calculated from both fields.

# Workaround
My workaround for now is to manually implement hashcode function and use `props` for `==`.

[2021-01-06 03:58] felangel commented on #96
Hi @nguyenxndaidev 👋
Thanks for opening an issue!

Can you please provide more context around the use-case that you have? Thanks!

[2021-01-06 05:04] felangel commented on #94
Hi @polRk 👋
Thanks for opening an issue!

I don't believe this is an issue with Equatable. I think this is related to https://github.com/flutter/flutter/issues/22665. If you still believe this is an Equatable-specific issue can you please provide a test-case which fails with the current implementation and succeeds with the proposed changes? Thanks 👍

[2021-01-06 05:06] felangel commented on #92
Hi @JamesMcIntosh 👋
Thanks for opening an issue!

Unfortunately, I don't think this is possible without requiring code generation or that you explicitly provide the prop names as well. If you have any ideas for how to achieve this I'd love to hear them, thanks 👍

[2021-01-06 09:28] nguyenxndaidev commented on #96
I think there are 2 rules when working with hashcode and equals:
* If equals returns true, then hashcode must return the same value.
* If the hashcode of two objects are the same, then the two objects don’t have to be equal but they can be equal.

With current implementation, we are forcing "if hashcode of two objects are the same, they must be equal".
Usually, when working with objects in databas

[2021-01-09 19:01] RandalSchwartz commented on #96
I'm with @felangel ... what's the use case for this?  Why not mix together as many bits to make it distinct as you can?  I guess coding in 1981 in Smalltalk has spoiled me a bit. 👍

[2021-01-10 19:56] nguyenxndaidev commented on #96
Never mind 😄, I just found that I can save time for the hashcode computation but it's not so important in most cases. I can overwrite the hashcode method with the IDE anytime if I want to.

[2021-01-10 19:56] #96 closed

[2021-01-19 04:07] JamesMcIntosh commented on #92
Hi @felangel,

To do code generation with the existing code would be difficult as I'm not sure how easy that would be to inspect the contents of the props and compile time and resolve them to a field or method name when generating the toString.

Another way to accomplish this with code generation could be the introduction of an annotation which include / exclude fields to give hints to the code ge

[2021-01-19 20:39] LefebvreIlyas opened #99 "Add a displayableProps"
Hello @felangel,
Thank you very much for your work on all the packages. 🎆

Sometimes you need to compare objects on certain fields, but to display others using the `toString`.

[code]

**Display all the props.**
This is the default behavior.

[code]

**Display and compare different fields.**

[code]

**Display all properties except one**

[code]

[2021-01-20 18:32] creativecreatorormaybenot opened #100 "runtimeType usage"
This is more of a question as I am not sure:

The package extensively uses `runtimeType` for equality. Is this safe to do?

### Concern

See the first comment to the [answer here](https://stackoverflow.com/a/35950312/6509751):

### Type checks

Why do we not use a type parameter for type checking? :)

[2021-02-04 18:35] nxtSwitch opened #101 "Equatable doesn't work with nested custom Iterable objects"
**Describe the bug**
Equatable doesn't work with class that override `iterator` like so:

**To Reproduce**
[code]

[code]

**Additional context**
As a partial solution, if the object inherits from the `Equatable`, then compare via `==`

[2021-02-08 05:21] #101 closed

[2021-02-08 05:30] felangel commented on #94
Closing as this was fixed in #97 and published in v1.2.6 👍

[2021-02-08 05:30] #94 closed

[2021-02-08 05:57] felangel commented on #99
Hi @LefebvreIlyas 👋
Thanks for opening an issue!

If you would like custom `toString` behavior, I would recommend just overriding `toString` manually for the one-off cases.

[code]

Hope that helps! Closing for now but feel free to comment with additional comments/questions and I'm happy to continue the conversation 👍

[2021-02-08 05:57] #99 closed

[2021-02-10 23:31] orestesgaolin opened #104 "EquatableConfig.stringify should be true in tests environment"
**Is your feature request related to a problem? Please describe.**
Sometimes, when tests relying on equatable classes fail, it's hard to deduce what is the issue without knowing the values of the properties. For instance this can happen in bloc tests:

[code]

In the meantime, in debug mode, the global flag is set to `true` so it's easy to spot issue like that in the log.

**Describe the solution

[2021-02-28 10:17] eltiganiomar opened #110 "Setting class attributes by index"
Hello!

I saw that we can get a class's attributes by index.

Sample:
class Person extends Equatable {
  int age;
  int height;
  int weight;

  Person({
    this.age,
    this.height,
    this.weight,
  });

  @override
  List<Object> get props => [age, height, weight];
}

We can get the value of age through the props:

 Person person = Person(
      age: 20,
      height: 180,
      weight: 70,

[2021-03-04 05:54] Edorin9 opened #111 "Support Nullable Types on props | Flutter 2.0 and Dart 2.12 upgrade"
**Describe the bug**
The props override property of an equatable doesn't support nullable (eg: String?) values.

**To Reproduce**
Steps to reproduce the behavior:

1. Upgrade flutter on stable channel (flutter channel stable && flutter upgrade)
2. Upgrade dart sdk version to sdk: ">=2.12.0 <3.0.0"
3. Create an equatable with a nullable property (final String? name)
4. Pass the 'name' property in t

[2021-03-04 06:05] felangel commented on #111
Hi @Edorin9 👋
Thanks for opening an issue!

If you want to use nullable props you can just update the `props` override:

[code]

Hope that helps 👍

[2021-03-04 17:37] felangel commented on #111
@Edorin9 can this be closed or are you still having trouble with nullable props?

[2021-03-04 17:43] Edorin9 commented on #111
Thanks for the reply @felangel. We can close it for now. I've actually downgraded flutter and quit upgrading a project, since there are other packages that needs updating as well.

[2021-03-04 17:43] #111 closed

[2021-03-08 13:02] #110 closed

[2021-03-12 14:53] TheMeanCanEHdian opened #112 "Question about Equatable and immutability"
I have an object that extends Equatable but I've now decided it would be nice to have one of the instance fields be not be final so I can adjust one of these fields.

I can grasp the idea of how Equatable fields should all be final and I get the alert about this field not being final and that breaks the immutability set in Equatable.

My question is what is the best practice here? Do I need to mak

[2021-03-19 22:33] felangel commented on #112
Hi @TheMeanCanEHdian 👋
Thanks for opening an issue!

If a class is not immutable, overloading operator == and hashCode can lead to unpredictable and undesirable behavior when used in collections. See https://dart.dev/guides/language/effective-dart/design#avoid-defining-custom-equality-for-mutable-classes for more information so it is not recommended to use Equatable with non-final fields.

I would

[2021-03-20 14:48] TheMeanCanEHdian commented on #112
Fantastic advice, thank you. Do you have any one-time donation options where I can drop a larger lump sum or do you prefer a sponsorship donation over time?

[2021-03-28 12:25] DarkHeros09 opened #113 "Null check operator used on a null value"
Hello Felix
First of all I'd like to thank you for your efforts for creating such awesome packages.🙏

**Describe the bug**
Before upgrading to null safety, everything was working correctly.
normally i create an Entity class that extends equatable, then when i create a Model class that extends the entity"following clean architecture", and when i run the tests everything is OK... that's before upgra

[2021-03-28 15:00] felangel commented on #113
Hi @DarkHeros09 👋
Thanks for opening an issue and for the positive feedback! I believe this is a duplicate of https://github.com/felangel/equatable/issues/111

Your props override should look like:

[code]

Hope that helps! 👍

[2021-03-28 15:07] felangel commented on #112
Thanks for your generosity! I believe you can sponsor via [github sponsors](https://github.com/sponsors/felangel) and just terminate the sponsorship after one month or you can donate one time using via [open collective](https://opencollective.com/bloc). Thanks again, I really appreciate it 🙏💙

[2021-03-28 15:07] #112 closed

[2021-03-28 15:08] felangel commented on #104
This is done as part of v2.0.0 🎉

[2021-03-28 15:08] #104 closed

[2021-03-28 15:11] DarkHeros09 commented on #113
yes you are correct, the test is passed now.
forgive me, i should've checked the closed issues.

Thank you very much for the clarification, btw great job on mocktail its a life saver.

[2021-03-28 15:11] #113 closed

[2021-03-28 16:28] TheMeanCanEHdian commented on #112
I'll go with a sponsorship over time then. Thanks again.

[2021-03-31 03:37] hacker1024 commented on #50
Would the [`protected`](https://pub.dev/documentation/meta/latest/meta/protected-constant.html) annotation suffice?

[2021-04-02 10:12] SEGVeenstra commented on #92
I've made a fork to try this out, maybe you want to take a look?
https://github.com/SEGVeenstra/equatable

[2021-04-02 10:41] JamesMcIntosh commented on #92
@SEGVeenstra Nice work! I like the way you've maintained compatibility. The only thing I'd change is the new lines for each parameter as it would be very chatty on the console.

[2021-04-02 10:46] SEGVeenstra commented on #92
Thank you,

I understand about the newlines.
Was more thinking about my own use case 😉.

[2021-04-02 11:57] SEGVeenstra commented on #92
@JamesMcIntosh  I've changed it to a single line:
https://github.com/SEGVeenstra/equatable/tree/propsMap

[2021-04-02 13:33] felangel commented on #92
@SEGVeenstra @JamesMcIntosh out of curiosity why not just override toString at that point haha?

[2021-04-02 13:40] SEGVeenstra commented on #92
🤔

Maybe to get consistency and being able to get the string recursively?

I'll think about it tonight... maybe we are indeed overthinking it.

[2021-04-02 14:22] felangel commented on #92
fwiw you'd still be able to get the string recursively as long as all the props also override `toString` 😄

[2021-04-02 14:48] SEGVeenstra commented on #92
But isn't that like saying, "you don't need Equatable because you can just override == and hashcode"? 😅

The idea is just to make it consise.

[2021-04-02 14:55] felangel commented on #92
That's fair but in my opinion the `propsMap` for `toString` is practically the same

[code]

vs

[code]

Also, fwiw `runtimeType` will be different in release mode and it won't be the class name in production builds.

[2021-04-02 16:14] SEGVeenstra commented on #92
The thing is that in your example you have to override props AND toString.

With propsMap you don't have to include props because it will take them from the propsMap.

So you only implement it once which will prevent you from getting the two out of sync

[2021-04-02 16:15] SEGVeenstra commented on #92
Didn't know that, what will it be in release?

[2021-04-06 07:37] SEGVeenstra commented on #92
It would become this:
[code]
props would be obsolete, because props can be extracted from the map (like in my fork)

So depending on your needs you could override either props, or propsMap.

[2021-04-15 17:47] kaboc opened #114 "Objects that are treated as equal have different hash codes in rare cases"
[code]

For comparison, a similar class generated by Freezed from the following code does not have this issue.

[code]

I'm not sure if it can cause some real trouble, but I thought I should at least report it.

**Expected behavior**

Matches the specification written in the [document](https://github.com/dart-lang/sdk/blob/0c258ed0812e8b9d8520e2e0872e8a98793543d3/sdk/lib/core/object.dart#L70-L71)

[2021-04-19 23:35] tuanvugoodmoney opened #115 "Should EquatableMixin.== have Object instead of Object? as an argument?"
**Describe the bug**
Ran across Artemis generating classes with EquatableMixin, but am unable to mock those classes using mocktail, because EquatableMixin's [signature](https://github.com/felangel/equatable/blob/master/lib/src/equatable_mixin.dart#L19) for `==` is `bool operator ==(Object? other)` while mocktail's is `bool operator ==(Object other)`

**To Reproduce**
Steps to reproduce the behavio

[2021-04-21 10:36] SebastianEngel commented on #23
Also when working with bloc, I'd love to see my BlocObserver print the fields that differ from the last state only.

[2021-04-28 05:32] JakeHadley commented on #111
@felangel I was having the same issue, with vscode, I added in the nullable operator (?) and I got this error from vscode...
[code]
Granted, my code doesn't currently have anything to return, so I just have `List<Object>? get props => null;` which causes this error.

[2021-04-28 06:31] felangel commented on #111
@JakeHadley the override should be:

`List<Object?> get props => [];`

Hope that helps 👍

[2021-04-28 06:33] JakeHadley commented on #111
Ah yes, that helps a lot. Thanks!

On Wed, Apr 28, 2021, 00:31 Felix Angelov ***@***.***> wrote:

[2021-04-30 06:46] mpkander commented on #115
@felangel #108 was too breaking. Is there any chance to roll back this change?

it's unable to mock classes that uses EquatableMixin

[2021-04-30 14:56] felangel commented on #115
If we rollback those changes the mixin will no longer work with classes that use `dynamic` in their `==` override. But yes, I think `Object` is the correct implementation so I think it makes sense 👍

[2021-05-11 15:37] tirth-stasis opened #116 "Overriding props with blank list"
Hi Felix,

Thanks for creating this library.

[code]

Thank you.

[2021-05-11 16:21] #116 closed

[2021-05-11 19:37] tirth-stasis commented on #116
Cool, thanks!

[2021-05-17 00:35] Macacoazul01 opened #117 "listEquals returns true when it should be false"
I'm having problems comparing lists of objects in flutter and searching for some solutions on the web i've found this library, but when i try to use it on a class that isn't final it doesn't work as expected:

The new person class:
[code]

The test vars:

[code]

the test:

[code]

the console log:

[code]

The first print should show that the ListB[1] isn't on ListA
The second should show false
T

[2021-05-18 02:13] #117 closed

[2021-05-19 16:39] #114 closed

[2021-05-20 03:48] elseyu opened #119 "[2.0.1]Exception when the key of Map is not subtype of type Comparable."
**Describe the bug**
Exception when the key of Map is not subtype of type Comparable.

**To Reproduce**
1. Define a Map<Type not comparable, V>
2. Define your class which extends Equable
[code]
3. Exception on:
[flutter_exception][:0]type 'Key' is not a subtype of type 'Comparable<dynamic>'
[flutter_exception][:0]#0      _dynamicCompare (dart:collection/splay_tree.dart:261:65)
#1      _SplayTree._

[2021-05-20 04:07] felangel commented on #119
@elseyu thanks for reporting this and sorry for the inconvenience! It should be fixed by #120 and published within the next few mins in v2.0.2

[2021-05-20 04:08] #119 closed

[2021-05-20 04:14] felangel commented on #119
The fix has been published in v2.0.2. Please let me know if that helps and again I apologize for the inconvenience!

[2021-05-20 05:27] elseyu commented on #119
@felangel Thanks for your quick fixing, it works for me.

[2021-06-08 12:13] c0c4i opened #121 "Equatable for List<Object> doesn't work"
**Describe the bug**
I have a `List<Step>` inside my class where `Step` is extended with Equatable.
But when I dispatch a new state (same as the previous) but with a different Step inside List it doesn't update

**Expected behavior**
A new state with different Step on my List

**Version**
Dart SDK version: 2.12.2 (stable) (Wed Mar 17 10:30:20 2021 +0100) on "macos_x64"

[2021-06-08 15:15] felangel commented on #121
Hi @c0c4i 👋
Thanks for opening an issue!

Can you please provide a minimal reproduction sample so that I can debug the issue locally? Thanks 🙏

[2021-06-11 09:53] SEGVeenstra commented on #115
How are you currently working around this? We have so much breaking mocks right now.
Some of us started to rename the files, and remove them from `@GenerateMocks` so we can manually fix them, but this is a lot of manual labor.

[2021-06-11 13:08] felangel commented on #115
Regarding mocking I use [mocktail](https://pub.dev/packages/mocktail) which doesn’t appear to be affected by this.

[2021-06-14 04:42] felangel commented on #121
Closing for now since there isn't a reproduction sample. Feel free to provide a link to a minimal reproduction sample and I'm happy to take a closer look 👍

[2021-06-14 04:42] #121 closed

[2021-06-14 07:12] SEGVeenstra commented on #115
It might be an option for us, because we also use bloc_test. But it will affect most of our non-bloc unit tests.
On top of that, our team tries to avoid 0.X.X versions as much as possible.

As this is considered a bug, is there any ETA on when this will be fixed/released?

[2021-06-14 14:33] felangel commented on #115
@SEGVeenstra yeah I'll get a fix for this by end of day today, sorry for the inconvenience!

[2021-06-14 14:38] SEGVeenstra commented on #115
Awesome! Thank you for your hard work, your efforts are greatly appreciated!

[2021-06-14 21:21] #115 closed

[2021-06-22 17:16] luandnguyen commented on #111
@felangel Appreciate the solution. Should this be mentioned in the README?

[2021-06-26 05:26] samuellow opened #126 "Strange behavior when comparing objects with lists"
class AccountSelectionState extends LoginState {
      final List<String> accounts;

      final List<bool> selected;

      AccountSelectionState(this.accounts, this.selected);

      @override
      List<Object> get props => List.from(accounts)..addAll(selected);
    }

The equality check always returns true for the above state with two list attributes, even when provided with different list val

[2021-07-07 13:58] JulianBissekkou opened #127 "Add option to exclude properties for equal check"
**Is your feature request related to a problem? Please describe.**
I am doing an equal check on two instances and I want to have a nice syntax for excluding properties.

**Describe the solution you'd like**
Since this might be a niche problem my suggestion would be to provide a static helper function that does this.
I would not add this to the `EqualtableMixin`.

Here is a small example:
[code]

(

[2021-07-08 11:50] SEGVeenstra commented on #126
I'm actually curious as well.
I landed here because I was looking for the (best) way to `List`/`Map` fields to the `props`. I didn't even think about just putting all elements in there.

[2021-07-08 13:00] SEGVeenstra commented on #126
Would using the spread operator work as well?
[code]

[2021-07-11 19:42] SEGVeenstra commented on #126
Just ran into this again.
Using:
[code]
cannot be trusted because the order changes the outcome.

I've solved this by using the following on each `List`-property that I want to be considered equal, even when the items are in a different order:
[code]

So in this example it would be:
[code]

[2021-07-22 07:27] ariefwijaya commented on #111
I can't make this work. I've tried `List<Object?>` but I got this `'NotificationNavigateScreen.props' ('List<Object?> Function()') isn't a valid override of 'NotificationState.props' ('List<Object> Function()')`

[2021-07-26 05:00] pinkasey commented on #126
Am I missing something?
I would assume the right way to implement `props` for this class would be
[code]

[2021-07-26 12:34] SEGVeenstra commented on #126
I think you are correct. I personally got sidetracked because I wanted the lists to be equal even if the items were in different orders.

I simply solved that by using a `Set` instead of a `List`.

[2021-07-26 13:39] #126 closed

[2021-08-11 06:45] robyhuzwandar commented on #111
Hi @felangel  how about that I got the error too

[2021-08-11 13:19] felangel commented on #111
Can you share a minimal reproduction sample?

[2021-08-12 08:52] ariefwijaya commented on #111
Sorry, my bad. I found it. I need to use `List<Object?>` in my abstract class when extending Equatable. Just because my abstract is not nullable, it will force the child to be non-nullable too.

[2021-08-16 12:58] Ashrafe commented on #111
yea that's it  ty

[2021-09-11 22:47] ariefwijaya commented on #126
Set also doesn't work for me

[2021-09-30 05:32] alvinvin00 commented on #127
just don't include that excluded properties on props list, i don't know what's the use case for this tbh

[2021-09-30 06:29] JulianBissekkou commented on #127
Excluding a property just for a specific operation. Excluding the property in the props list will affect all equal checks.

[2021-10-29 05:31] hacker1024 opened #129 "Use Dart 2.14's new hashing functions"
Dart 2.14 adds new hashing methods like [`Object.hash`](https://api.dart.dev/stable/2.14.4/dart-core/Object/hash.html) (uses optional arguments for up to 20 objects) and [`Object.hashAll`](https://api.dart.dev/stable/2.14.4/dart-core/Object/hashAll.html) (uses a list for a large or variable number of objects).

The reasoning behind this addition to the language can be found at https://github.com/d

[2021-10-30 12:24] hacker1024 commented on #129
I've just had a go at implementing this, but it's more complicated than I initially expected due to the recursive collection hashing functionality.

I have a question: Why not use `_equality`'s `hash` method in `mapPropsToHashCode`? It seems to do the same thing as the existing implementation, although I'm not sure if it uses the same algorithm.

[2021-12-23 01:13] Ascenio commented on #127
I don't think that's possible. In your app you can compare two objects of the same class using different combination of fields, it would be hard to implement something so generic without some trickery like code generation (which some don't like).

However, you can always create helper methods, like this:
[code]

[2021-12-28 23:41] ride4sun opened #131 "testing equality of derived types"
**Describe the bug**
I have two types:
[code]
and
[code]

I  Wrote a test like this:
[code]
I expected the test to pass but because because Equality is looking into the runtime type its failed

[code]
Any suggestions ideas - is that really how it should be?

Makes me wonder if that could not be enough:
[code]

Is the dart analyzer not catching that I compare not comparable types?

[2021-12-29 14:25] AnnaPS commented on #111
Thank you Felix, I was looking for this solution :)

[2022-01-24 17:38] SupposedlySam opened #132 "Comparing Derived Classes Fails When Shared Properties Are The Same"
**Describe the bug**
When passing in a derived class (subclass) and doing an equality comparison, the comparison fails.

**To Reproduce**
[code]

**Expected behavior**
Since class `C` is requiring two classes of type `A`, I would expect for `c.compare` to return `true` since `a.sameValue` and `b.sameValue` are equal between the two instances.

**Version**
Equatable: ^2.0.3
Dart SDK version: 2.15.0

[2022-01-28 19:33] felangel commented on #131
Hi @ride4sun 👋
Thanks for opening an issue!

I believe this is working as expected because a `GenericDevice` is technically not equal to a `BleDevice`. If you wanted to make that true you could override `operator==` on your `BleDevice` class and include `GenericDevice` like:

[code]

[2022-01-28 19:35] felangel commented on #132
Hey @SupposedlySam 👋
Thanks for opening an issue!

I believe this is a duplicate of #131. I left a comment with my thoughts but lmk what you think 👍

[2022-01-28 21:50] SupposedlySam commented on #132
I've worked with Morgan on a proposal. Linking the draft PR.

[2022-01-28 22:04] mrgnhnt96 commented on #132
Here is a possible solution for this #133

[2022-01-28 22:04] mrgnhnt96 commented on #131
Here is a possible solution for this #133

[2022-01-28 22:25] SupposedlySam commented on #131
Essentially Morgan and I created an optional property you can override called `derived`. If you're just extending or mixing in `equatable` then there's no need to do anything different. By default the `derived` class uses the `runtimeType` within the `Set` for `derived`.

However, if you're creating a "derived" class, then you provide the type you want your class to be compared against.

In your e

[2022-01-28 22:58] SupposedlySam commented on #132
Closing as dup of #131. Conversation continued there.

[2022-01-28 22:58] #132 closed

[2022-02-10 12:44] Katekko opened #134 "Why the equatable need to be @immutable?"
I'm asking because I'm trying to extend my class from other class that's not immutable.
![image](https://user-images.githubusercontent.com/13632735/153410864-175caffa-f156-4320-a419-c857f7859d36.png)

So I'm wondering why equatable needs to be marked as immutable?

[2022-02-10 12:52] Katekko commented on #134
AVOID defining custom equality for mutable classes.
Linter rule: [avoid_equals_and_hash_code_on_mutable_classes](https://dart.dev/tools/linter-rules#avoid_equals_and_hash_code_on_mutable_classes)

When you define ==, you also have to define hashCode. Both of those should take into account the object’s fields. If those fields change then that implies the object’s hash code can change.

Most hash-ba

[2022-02-10 12:56] Katekko commented on #134
This is a problem with dart. How can I compare two class that's isnt @immutable? for unit tests purpose
![image](https://user-images.githubusercontent.com/13632735/153412673-f43a26d8-b0d0-449c-8855-48aeebbdabe1.png)

Like this above, I'm expecting the class I'm creating is the same that I'm creating now

[2022-02-16 04:15] AlexMcConnell commented on #131
@felangel

If you assume that all inheritance follows a hierarchical pattern similar to animals, then sure, checking equality between types makes little sense. But that's only a fraction of usages for inheritance. Personally, I'm creating test objects that inherit from the real objects, and not being able to compare them with object that are created by the app defeats the purpose.

[2022-02-16 04:58] felangel commented on #131
Can you provide a link to a DartPad/Gist/Repository that illustrates what you’re trying to achieve? Thanks!

[2022-03-04 13:30] BreX900 commented on #77
@josiahsrc You can also try [mek_data_class](https://pub.dev/packages/mek_data_class), I'm relying on equatable for this package always with an eye on generation performance

[2022-04-06 11:11] javicerezuela opened #138 "Equal not working as expected"
**Describe the bug**
I am using flutter bloc for state management, and I have found that sometimes two different states are treated as equals

**To Reproduce**
This is the state class
[code]
Now you can run this code
[code]
**Expected behavior**
`state1` and `state2` should be different

**Version**
Dart SDK version: 2.16.2 (stable) (Tue Mar 22 13:15:13 2022 +0100) on "windows_x64"

[2022-04-06 13:18] milouw commented on #138
The states are equal, because in your GameState class you override props to be a list of Sets (the curly brackets).
Instead, it should be:
[code]

[2022-04-06 13:57] javicerezuela commented on #138
@milouw thanks for the answer, I see the problem, I will change the code! but it should be working anyway, right? the two list of sets are different, so the assert shouldn fail. Or am I missing something?

[2022-04-07 07:57] milouw commented on #138
It would work if you set the `timeRemaining` to 50 for example, but since you set it to 0 it gets ignored because 0 (from `points`) is already in the set. The same goes for 1 (from `level`). So in the end, Equatable compares two sets that look something like `{0, 1, false}` and the change is unnoticeable.

[2022-04-08 00:44] javicerezuela commented on #138
Ok, now I understand, thanks!

[2022-04-08 00:44] #138 closed

[2022-05-21 10:38] iamafzalhassan opened #139 "Same hashcode for different new lists"

[2022-05-21 10:41] iamafzalhassan commented on #139
I created two objects **personA and personB** and assign new lists for both that produce different hashcodes. But **personA and personB** gives the same hashcode what's wrong with it?

[2022-05-22 11:09] #139 closed

[2022-06-01 18:57] Luckey-Elijah commented on #23
I also ran into a situation where this would be handy. As a _proof of concept_, something like this may work. Maybe a custom `EquatableValueDifference` to describe the difference between the two compared values.
**Equatable Implementation**
[code]

**Example Class**
[code]

**Test**
[code]

[2022-07-28 06:27] devmil opened #141 "Equality and Hashcode differ for Sets with different order"
**Describe the bug**
For properties of type `Set` the result of `hashCode` is unexpected.
Equality works like expected (order of Set elements doesn't have an impact) but `hashCode` produces different values depending on the order in the Set.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Two objects that are equal also have the same hashCode (independent of the o

[2022-07-29 02:43] LeeBoonKong opened #143 "Equatable doesn't checks for Equality for variables in parent class"
I have a state bloc

[code]

As the example above, while receiving StateA from BlocBuilder using flutter_bloc, Equatable is not able to detect the difference in StateA hence the UI is not updated.

Is my implementation and the way of using Equatable correct in this regard?

[2022-08-15 15:34] narcodico opened #145 "feat request: add `stringifyProps`"
**Is your feature request related to a problem? Please describe.**
Currently there's no way to easily specify a sub-set of props you want stringified.

**Describe the solution you'd like**
Would be useful to have another getter similar to `props`, which would allow to override the props you want stringified.

**Describe alternatives you've considered**
Manually overriding `toString`.

[2022-08-18 17:29] FMorschel opened #147 "Enum implementing Equatable related classes"
I've created a class that only takes `Enum`s as parameters. I figured I could create a third `Enum` where I would manually put every option so they have a better naming.

E.g.:

### Configuration
[code]

### Objective

[code]

### Context

As I said [here](https://stackoverflow.com/a/73407104/9576870):

This solved my problem and is fair since my class instance is not an `Enum`, but my enum consta

[2022-08-19 02:34] #141 closed

[2022-08-22 12:10] FMorschel commented on #131
@SupposedlySam, could you try and help me? I've created #147 for a better explanation for my case, but basically, my question is: When your derived class is an `Enum`, where overrides on `==` related methods don't work at all. What can I do? I've solved my case on the end of my issue, but I still believe this should probably be implemented by the `equatable` package itself.

[2022-08-22 12:14] FMorschel commented on #147
This would also solve #100

[2022-08-22 17:04] SupposedlySam commented on #131
@FMorschel , maybe you could create an extension method on your enum that takes in the second enum type and compares them to return `true` or `false`?

[code]

It wouldn't be generic but maybe you can work with that?

[2022-08-22 17:23] FMorschel commented on #131
As I've said on #147

This is done in my original class that my `Enum` implements.

This, I believe is how this package should solve the equality of instances, using `is Type` not `runtimeType`. That's what I meant.

This is fair because my enum constants can be considered as an instance of my class, but not the other way around because my class is not an `Enum`.

So even if I tried using your [su

[2022-08-25 13:07] FMorschel commented on #147
I've tested:

<details>
  <summary>Current case</summary>

  All the tests on this code pass
[code]

  ### WARNING
  But, these do as well:
[code]

  ### WARNING 2
  But these all fail:
[code]

</details>
<details>
  <summary>My suggested case</summary>

  When the `==` operator is as I've configured below:
  Mixin:
[code]
  Equatable:
[code]
  All the tests on this code pass
[code]

  ### WARNING

[2022-08-26 16:38] FMorschel commented on #147
The only thing I was thinking here was for my suggestions to work the `props` should have [mustCallSuper](https://api.flutter.dev/flutter/meta/mustCallSuper-constant.html) and this should be explained to be written like:
[code]

[2022-09-01 10:06] MdSaLaMa commented on #143
the same problem
`print('object' == 'object'); //true
 print(['object'] == ['object']); //false
 print({1: 'object'} == {1: 'object'});//false`

[2022-09-12 18:02] itaishalom opened #151 "Same object, same runtimeType but runtimeType== other.runtimeType is false"
I encountered a strange issue during my tests.
I'm trying to verify a function call - to my logger:

     verify(() => logger.i(WorkflowButtonClicked(value: true))).called(1);
The test runs, and there is a call:

        logger.i(new WorkflowButtonClicked(value: true));
WorkflowButtonClicked class extends Equatable, but for some reason, the verify is false.
I checked the code on Equatable class an

[2022-09-12 18:51] itaishalom commented on #151
Hi, I'm not sure if the issue is related directly to Equatable, I think maybe it's in Flutter itself,
what do you think?

[2022-09-12 19:22] itaishalom commented on #151
Ok I found out what happened, the problem was the import:

bad:
import '../models/logger/log_types/workflow_button_clicked.dart';

good:
import 'package:APP/models/logger/log_types/workflow_button_clicked.dart';

[2022-09-12 19:22] #151 closed

[2022-10-08 09:47] MelbourneDeveloper opened #153 "Storing the hashCode"
Immutable types don't change, so there is no need to recalculate the `hashCode` repeatedly. It's possible to squeeze some performance out of the `hashCode` getter by either calculating and storing it in the constructor or storing it after the first time it gets called. I made the changes to `EquatableMixin` in this branch of my fork in this [PR](https://github.com/felangel/equatable/pull/152) to s

[2022-10-10 09:25] FaFre commented on #153
I created a package doing exactly that, a couple of months back: https://github.com/FaFre/fast_equatable maybe you can find some inspirations in there.

[2022-10-10 14:44] felangel commented on #153
By adding a mutable property on `EquatableMixin`, all Equatable instances would no longer be immutable:

For example:

[code]

The above code will result in a warning because `Person` should be `immutable` but has non-final fields:

<img width="675" alt="Screen Shot 2022-10-10 at 9 41 56 AM" src="https://user-images.githubusercontent.com/8855632/194892613-d68a8eed-12aa-47e7-8433-7b478e1701ec.png">

[2022-10-10 17:20] DamnDaniel-98 opened #155 "Doesn't work with List<File> as property"
My class wich extends Equatable has a _final List(File)_  property. When i pass this property to the _probs getter_ of my class, it says that two equal Objects aren't equal. My workaround for this is to pass  "files.map((e) => e.path).toList()," instead of just the files.

[2022-10-10 23:44] MelbourneDeveloper commented on #153
@felangel I don't think anything can be done to fully satisfy the immutable requirement for the mixin.

There would be a similar issue with the `Equatable` class. Technically this is still immutable:

<img width="563" alt="image" src="https://user-images.githubusercontent.com/16697547/194967967-47477db2-d5ae-4225-aa57-fa3a86c8ece8.png">

But, the class loses the `const` constructor. Still, there i

[2022-10-10 23:44] #153 closed

[2022-10-11 00:19] felangel commented on #155
Hi @DamnDaniel-98 👋
Thanks for opening an issue!

I'm guessing this is because the contents of your list do not also extend `Equatable`. Please make sure that whatever type  of object is in your list also extends `Equatable` and overrides `props`. If you're still having trouble please provide a minimal reproduction sample and I'm happy to take a look 👍

[2022-10-11 00:19] #155 closed

[2022-10-12 19:07] LeonardoRosaa commented on #50
This could be too expensive to do and also I think there are Dart limitations. However, you can use the `@protected` annotation:

[code]

[2022-10-24 10:57] ValentinVignal opened #157 "`runtimeType` prevents from using generic type"
**Describe the bug**
The `==` method uses `runtimeType` which can be false in some scenarios with generic types:

If we consider the data class `A`:
[code]

then

[code]

while I would expect it to be `true`.

**Expected behavior**

I would expect `A<int>(2) == A<num>(2)` or `A<int>(2) == A<dynamic>(2)` to be `true`. Because in the case of data classes, what matter are the field values.

**Version

[2022-11-07 09:03] petrnymsa opened #158 "Provide lint for forgotten fields in props"
It would be nice to have some kind of lint, which will warn about the forgotten field in `props`. Most of the time, any public field of the class has to be included in `props`.

We have some automation with help of extensions in IDE for generating props but it cant prevent bugs by forgetting to update the props field.

[2022-11-07 22:25] Yczar commented on #158
@felangel is this a feasible feature? I want to play around with this.

[2022-11-07 22:26] Yczar commented on #157
hey @ValentinVignal does this still occur... I'd like to jump on this?

[2022-11-08 01:41] ValentinVignal commented on #157
@Yczar Yes the error still occurs.

It is because of the check on `runtimeType` in:

https://github.com/felangel/equatable/blob/6de8b97d72bd3bef52af1a369632635784866fe3/lib/src/equatable_mixin.dart#L22-L27

[2022-11-08 16:30] felangel commented on #157
Hi @ValentinVignal 👋
Thanks for opening an issue!

If you remove the `runtimeType` check then the following would also evaluate to true:

[code]

[2022-11-09 01:03] ValentinVignal commented on #157
Hello @felangel , yes it is true. I'm not saying that completely removing the check on `runtimeType` is the correct solution. I was just saying that the behavior described in the issue was because of this check.

[2022-11-14 21:59] felangel commented on #157
@ValentinVignal after discussing this a bit further I'd prefer to close this as won't fix because in order to solve this we'd need to have access to the generics and do something like:

[code]

This isn't possible afaik (see https://github.com/dart-lang/language/issues/945) without forcing developers to explicitly specify the generics similar to props.

I'd recommend overriding `==` manually for y

[2022-11-14 21:59] #157 closed